@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;

  --bg-color-primary: #14212a;

  --white-color: #f6f6f6;
  --primary-color: #07B7DC;
  --secondary-color: #34495e;
  --success-color: #59ebcb;
  --danger-color: #ff8975;
}