.userChatsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-block: .5rem;
  border-bottom: 2px solid var(--secondary-color);
}
.userRecipient {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: .5rem;
}

.userRecipient img{
  height: 35px;
  width: 35px;
  aspect-ratio: 1;
}

.details p{
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.date {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}

.notification {
  width: 10px;
  height: 10px;
  font-size: 10px;
  border-radius: 50%;
  background-color: var(--success-color);
}