.navbar {
  /* border: 2px solid red; */
  padding-block: .75rem;
  border-bottom: 2px solid var(--secondary-color);
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navcontainer > ul {
  display: flex;
  gap: 1rem;
}


.navcontainer > ul li {
  display: grid;
  place-items: center;
}

.navcontainer > ul li:not(:first-child) {
  border-left: 2px solid var(--primary-color);
  padding-left: 1rem;
}

.navcontainer > ul li:hover {
  text-decoration: underline;
}